/* footer.css */
#footer {
    padding: 50px 0;
    background: #080808;
    color: #fff;
    font-family: 'poppins', sans-serif;
}

.container {
    padding: 10px 10%;
}

.contact-left {
    flex-basis: 100%; /* Full width for simplicity in the footer */
}

.contact-left h1 {
    margin-bottom: 20px;
    color: #fff;
}

.contact-left p {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #ababab;
    font-size: 30px;
    margin-right: 15px;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-10px);
}

.btn.btn2 {
    display: inline-block;
    background-color: #ff004f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.btn.btn2:hover {
    background-color: #e03e2d;
}
