#footer {
    background: #4c0dc2;
    color: #fff;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts spacing between contact info and social icons */
    padding: 0 10%;
}

.contact-info, .social-icons {
    display: flex;
    align-items: center;
}

.contact-info p {
    margin: 0 20px 0 0; /* Right margin for spacing between elements */
    color: #fff;
    font-size: 18px;
}

.contact-info p i {
    color: #ff004f;
    margin-right: 10px;
}

.social-icons a {
    color: #ababab;
    font-size: 30px;
    margin-left: 15px; /* Space between icons */
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px); /* Slight raise effect on hover */
}
